*{
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html{
  scroll-snap-type: y proximity;
}

.playGifCls{
  background-color: rgb(4, 86, 113) !important;
  color: white !important;
}
.playGifCls p{
  color: white !important;
}
.playGifCls > div > img{
  object-position: -99999px 99999px;
  background-image: url("/images/play.gif");
  background-size: 70% ;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 100%;
  background-position: center;
}
input[type=range]{
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track, input[type=range]::-webkit-range-track{
  background-color: rgb(0, 0, 0) !important;
}
input[type=range]::-moz-range-progress{
  background-color: rgb(0, 0, 0) !important;
}
input[type=range]::-moz-range-thumb{
  width: 7px;
  height: 7px;
  background: rgb(0, 0, 0) !important;
  border-radius: 0;
  border: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 3px;
  background: #6e6e6e;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(4, 0, 0);
  margin-top: -7px;
}